<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siriuskoshelok">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.SiriusApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_wallet"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_wallet"
        android:supportsRtl="true"
        android:theme="@style/CustomNoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.category.AddNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.category.CreateCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.wallet.EditLimitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.wallet.AddWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.wallet.AddWalletNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.wallet.AllWalletsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operation.AddOperationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operation.AddCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operation.AddTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operation.AddSumActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.google.GoogleAuthorizationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.wallet.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>