<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siriuskoshelok">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.SiriusApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_cool_wallet"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_cool_wallet"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge">
        <activity
            android:name=".ui.category.AddNameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.category.CreateCategoryActivity" />

        <activity
            android:name=".wallet.EditLimitActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".wallet.AddWalletActivity" />
        <activity
            android:name=".wallet.AddWalletNameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".wallet.AllWalletsActivity" />
        <activity android:name=".ui.operation.AddOperationActivity" />
        <activity android:name=".ui.operation.AddCategoryActivity" />
        <activity android:name=".ui.operation.AddTypeActivity" />
        <activity
            android:name=".ui.operation.AddSumActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.google.GoogleAuthorizationActivity" />
        <activity android:name=".WalletActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>